<app-table-overview [figures]="figures"></app-table-overview>

<div class="d-flex justify-content-start">
  <button routerLink="new" class="btn-create" nz-button nzType="primary" nzShape="round">
    <div class="fas fa-plus"></div>
    Add a new category
  </button>
</div>
<nz-table
  #categoryTable
  [nzData]="categories"
  [nzShowSizeChanger]="true"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">Description</th>
      <th scope="col">Created at</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categoryTable.data; index as i">
      <td>{{ i + 1}}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.createdAt | date:"short" }}</td>
      <td class="text-center">
        <app-action-buttons-admin
          (onDetail)="showDetailsModal(category.id)"
          (onUpdate)="showUpdateModal(category.id)"
          (onDelete)="deleteCategory(category.id)"
        ></app-action-buttons-admin>
      </td>
    </tr>
  </tbody>
</nz-table>
