<div class="d-flex justify-content-end">
  <a routerLink="new" class="btn btn-primary rounded text-light mb-2">
    <i class="fas fa-gift"></i>Create a new region
  </a>
</div>
<table class="table shadow table-hover table-responsive-lg">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col" class="text-center">Quantity</th>
      <th scope="col">Category</th>
      <th scope="col">Created at</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>