<div class="container-fluid">
  <div class="row">
    <div class="navbar-show text-center d-none px-1" (click)="toggleSidebar()">
      <i class="fas fa-angle-double-right mr-0 text-light"></i>
    </div>
    <!-- <div class="sidebar">
      <div class="admin" routerLink="./">
        <div>
          <i class="fas fa-user-shield fa-lg"></i>
        </div>
        {{ user.name }}
      </div>
      <hr/>
      <div class="sidebar-items">
        <div
          *ngIf="canShow('store')"
          class="management-item"
          routerLinkActive="active"
          routerLink="region-management"
        >
          <div>
            <div>
              <i class="fas fa-map-marked-alt fa-2x"></i>
            </div>
            Region Management
          </div>
        </div>
        <div
          *ngIf="canShow('store')"
          class="management-item"
          routerLinkActive="active"
          routerLink="store-management"
        >
          <div>
            <div>
              <i class="fas fa-store fa-2x"></i>
            </div>
            Store Management
          </div>
        </div>
        <div
          *ngIf="canShow('staff')"
          class="management-item"
          routerLinkActive="active"
          routerLink="user-management"
        >
          <div><i class="fas fa-2x fa-user-friends"></i></div>
          Staff Management
        </div>
        <div
          *ngIf="canShow('role')"
          class="management-item"
          routerLinkActive="active"
          routerLink="role-management"
        >
          <div><i class="fas fa-2x fa-key"></i></div>
          Role Management
        </div>
        <div
          class="management-item"
          routerLinkActive="active"
          routerLink="product-management"
        >
          <div><i class="fas fa-2x fa-hamburger"></i></div>
          Product Management
        </div>
        <div
          class="management-item"
          routerLinkActive="active"
          routerLink="category-management"
        >
          <div><i class="fas fa-2x fa-tags"></i></div>
          Category Management
        </div>
      </div>
    </div> -->
    <div class="sidebar">
      <nav id="sidebarMenu" class="sidebar d-md-block bg-sidebar text-white collapse" data-simplebar>
        <div class="sidebar-inner px-3 pt-3">
          <div class="user-card d-flex align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center justify-content-between">
              <div class="user-avatar lg-avatar mr-4" style="width: 60px;">
                <img src="assets/img/admin.png" class="card-img-top rounded-circle border-white" alt="Bonnie Green">
              </div>
              <div class="d-block">
                <h2 class="h6">Hi, Admin</h2>
                <button nz-button nzSize="small" nzType="primary" [nzGhost]="true">
                  <span class="fas fa-sign-out-alt"></span>
                  Sign out
                </button>
              </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation"></a>
            </div>
          </div>
          <ul class="nav flex-column">
            <li class="nav-item" routerLinkActive="active" routerLink="charts">
              <a class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-chart-pie fa-fw"></span></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="./" [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link">
                  <span class="sidebar-icon"><span class="fas fa-address-card fa-fw"></span></span>
                  <span>Admin Profile</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="store-management">
              <a class="nav-link">
                  <span class="sidebar-icon"><span class="fas fa-store fa-fw"></span></span>
                  <span>Store Management</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="region-management">
              <a class="nav-link">
                  <span class="sidebar-icon"><span class="fas fa-map-marked-alt fa-fw"></span></span>
                  <span>Region Management</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="user-management">
              <a class="nav-link">
                  <span class="sidebar-icon"><span class="fas fa-users fa-fw"></span></span>
                  <span>Staff Management</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="role-management">
              <a class="nav-link">
                  <span class="sidebar-icon"><span class="fas fa-key fa-fw"></span></span>
                  <span>Role Management</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="product-management">
              <a class="nav-link">
                  <span class="sidebar-icon"><span class="fas fa-hamburger fa-fw"></span></span>
                  <span>Product Management</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="category-management">
              <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#tab-cate">
                <span><span class="sidebar-icon"><span class="fas fa-hashtag fa-fw"></span></span>Category Management</span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
              </span>
              <div class="multi-level collapse" role="list" id="tab-cate" aria-expanded="false">
                  <ul class="flex-column nav">
                      <li class="nav-item"><a class="nav-link"><span>View</span></a></li>
                      <li class="nav-item"><a class="nav-link"><span>Create</span></a></li>
                  </ul>
              </div>
              <!-- <a class="nav-link d-flex justify-content-between align-items-center">
                  <span>
                    <span class="sidebar-icon"><span class="fas fa-hashtag fa-fw"></span></span>
                    <span>Category Management</span>
                  </span>
                  <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
              </a> -->
            </li>
            <!-- <li class="nav-item">
              <span class="nav-link @@if (context.page_group !== 'page_examples') { collapsed } d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-pages">
                <span>
                  <span class="sidebar-icon"><span class="far fa-file-alt fa-fw"></span></span>
                  Page examples
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
              </span>
              <div class="multi-level collapse @@if (context.page_group === 'page_examples') { show }" role="list" id="submenu-pages" aria-expanded="false">
                  <ul class="flex-column nav">
                      <li class="nav-item"><a class="nav-link" href="@@path/pages/examples/sign-in.html"><span>Sign In</span></a></li>
                      <li class="nav-item"><a class="nav-link" href="@@path/pages/examples/sign-up.html"><span>Sign Up</span></a></li>
                      <li class="nav-item"><a class="nav-link" href="@@path/pages/examples/forgot-password.html"><span>Forgot password</span></a></li>
                      <li class="nav-item"><a class="nav-link" href="@@path/pages/examples/reset-password.html"><span>Reset password</span></a></li>
                      <li class="nav-item"><a class="nav-link" href="@@path/pages/examples/lock.html"><span>Lock</span></a></li>
                      <li class="nav-item"><a class="nav-link" href="@@path/pages/examples/404.html"><span>404 Not Found</span></a></li>
                      <li class="nav-item"><a class="nav-link" href="@@path/pages/examples/500.html"><span>500 Server Error</span></a></li>
                  </ul>
              </div>
            </li> -->
            <!-- <li class="nav-item">
              <span class="nav-link @@if (context.page_group !== 'components') { collapsed } d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-components">
                <span>
                  <span class="sidebar-icon"><span class="fas fa-box-open"></span></span>
                  Components
                </span>
                <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
              </span>
              <div class="multi-level collapse @@if (context.page_group === 'components') { show }" role="list" id="submenu-components" aria-expanded="false">
                  <ul class="flex-column nav">
                      <li class="nav-item @@if (context.page === 'buttons') { active }"><a class="nav-link" href="@@path/pages/components/buttons.html"><span>Buttons</span></a></li>
                      <li class="nav-item @@if (context.page === 'notifications') { active }"><a class="nav-link" href="@@path/pages/components/notifications.html"><span>Notifications</span></a></li>
                      <li class="nav-item @@if (context.page === 'forms') { active }"><a class="nav-link" href="@@path/pages/components/forms.html"><span>Forms</span></a></li>
                      <li class="nav-item @@if (context.page === 'modals') { active }"><a class="nav-link" href="@@path/pages/components/modals.html"><span>Modals</span></a></li>
                      <li class="nav-item @@if (context.page === 'typography') { active }"><a class="nav-link" href="@@path/pages/components/typography.html"><span>Typography</span></a></li>
                  </ul>
              </div>
            </li> -->
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <!-- <li class="nav-item">
              <a class="nav-link d-flex align-items-center">
                <span class="sidebar-icon"><span class="fas fa-headset"></span></span>
                <span>Support</span>
              </a>
            </li> -->
            <li class="nav-item" routerLink="/account/settings">
              <a class="nav-link d-flex align-items-center">
                <span class="sidebar-icon"><span class="fas fa-user-cog"></span></span>
                <span>Account Settings</span>
              </a>
            </li>
            <li class="nav-item" (click)="logout()">
              <a class="nav-link d-flex align-items-center">
                <span class="sidebar-icon"><span class="fas fa-power-off"></span></span>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
    </nav>
    </div>

    <div class="p-3 p-md-3 content-wrapper col admin-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
