<div class="row">
  <div class="d-flex w-100 justify-content-start mb-2">
    <div class="form-group mx-sm-3 my-2">
      <label for="inputRoleName" class="sr-only">Role Name</label>
      <input type="text" class="form-control" id="inputRoleName" placeholder="Type in role name" required minlength="3"
        [(ngModel)]="roleName" />
    </div>
    <button type="submit" class="btn my-2 mr-5" [ngClass]="isUpdateMode() ? 'btn-danger' : 'btn-primary'"
      (click)="submitForm()">
      {{ isUpdateMode() ? 'Update' : 'Create' }}
    </button>
  </div>
</div>
<!-- </form> -->
<div class="row warp-table">
  <table class="table table-sm table-striped table-responsive-sm">
    <thead>
      <tr class="">
        <th class="pl-2">#<span class="d-none d-sm-inline"> Resource Name</span></th>
        <th colspan="4" class="text-center">Permissions</th>
        <th class="text-center cursor-pointer" (click)="removeAllChecked()">
          <span class="d-none d-sm-inline">Clear</span>
          <i class="far fa-trash-alt ml-2 remove-all-checked" title="remove all checked"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of resources">
        <td class="pl-2">{{ resource.name | titlecase }} Management</td>
        <td colspan="4">
          <div class="d-flex justify-content-around">
            <div *ngFor="let permission of resource.permissions">
              <label class="label-checkbox">
                <input type="checkbox" class="custom-checkbox" [(ngModel)]="permission.choose"
                  (change)="onChangeButtonCheckPermission(permission, resource)"
                  [disabled]="!canGrantPermission(permission)" />
                  {{ permission.type | titlecase }}
              </label>
            </div>
          </div>
        </td>
        <!-- CHECK ALL CHECKBOX HERE -->
        <td class="text-center">
          <label class="label-checkbox">
            <input type="checkbox" class="custom-checkbox" [(ngModel)]="resource.isCheckAllPermissions"
              [disabled]="resource.isCheckAllDisabled" (change)="onChangeButtonCheckAllPermissions(resource.name)" />
            All
          </label>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<div class="text-left pl-3">
  <input type="checkbox" class="mb-2" />
  <span class="text-info ml-2 small font-italic">* Grantable permissions</span><br />

  <input type="checkbox" class="mb-2" disabled />
  <span class="text-warning ml-2 small font-italic">* Ungrantable permissions</span><br />

  <input type="checkbox" class="mb-2" disabled checked />
  <span class="text-secondary ml-2 small font-italic">* Permissions granted by others</span>
</div>