.btn-action:hover {
  border-color: #a0d3f6;
}
table {
  /* width: 95%; */
}
.warp-table {
  margin: 0 16px;
}
input[type="checkbox"] {
  -ms-transform: scale(1.8); /* IE */
  -moz-transform: scale(1.8); /* FF */
  -webkit-transform: scale(1.8); /* Safari and Chrome */
  -o-transform: scale(1.8); /* Opera */
  transform: scale(1.8);
}

.custom-checkbox {
  margin-right: 4px;
  position: relative;
  bottom: -1px;
  cursor: pointer;
}

.label-checkbox {
  cursor: pointer;
  transform: translateY(25%);
}

.remove-all-checked:hover {
  cursor: pointer;
  background-color: #d4fdfd;
}

.form-group {
  padding: 0 12px;
}

table thead th {
  font-size: .9rem;
}

table tbody td {
  font-size: .9rem;
  padding: 16px 0;
}

@media only screen and (max-width: 1450px) {
  table th {
    /* font-size: 0.8rem; */
  }
}
