<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure modi natus
  nulla quis obcaecati? Ducimus quaerat et accusantium, molestias ratione error
  eos atque iusto, perferendis laudantium cum magni maxime at.

</p>

<div class="row">
  <div class="col-lg-12 border" style="height: 500px;">
    <app-bar-chart-vertical
      [data]="topSaleData"
    ></app-bar-chart-vertical>
  </div>
  <div class="col-lg-6">
  </div>
</div>

<div class="row">
  <div class="col-lg-12" style="height: 300px" [style.height.px]="topSaleData.length * 50">
    <app-bar-chart-hirizontal [data]="topSaleData"></app-bar-chart-hirizontal>
  </div>
</div>
