<app-table-overview></app-table-overview>

<div class="d-flex justify-content-start">
  <button routerLink="new" class="btn-create" nz-button nzType="primary" nzShape="round">
    <div class="fas fa-plus"></div>
    Add a new region
  </button>
</div>

<table class="table shadow table-hover table-responsive-lg">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Region name</th>
      <th scope="col">Number of store</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>