<app-table-overview [figures]="figures"></app-table-overview>

<div class="d-flex justify-content-start">
  <button routerLink="new" class="btn-create" nz-button nzType="primary" nzShape="round">
    <div class="fas fa-plus"></div>
    Add a new region
  </button>
</div>
<agm-map [latitude]="51.673858" [longitude]="7.815982" style="width: 300px; height: 300px;"></agm-map>
<input id="agm-search-box" #agmSearchBox />

<nz-table
  #regionTable
  [nzData]="regions"
  [nzShowSizeChanger]="true"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Region name</th>
      <th scope="col">Description</th>
      <th scope="col" class="text-center">Number of store</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let region of regionTable.data; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ region.name }}</td>
    <td>{{ region.description || '-' }}</td>
    <td class="text-center">{{ region?.stores?.length || 0 }}</td>
    <td class="text-center">
      <app-action-buttons-admin
        (onDetail)="showDetailsModal(region.id)"
        (onUpdate)="showUpdateModal(region.id)"
        (onDelete)="deleteRegion(region.id)"
      ></app-action-buttons-admin>
    </td>
  </tr>
  </tbody>
</nz-table>
