<div class="container" *ngIf="product">
  <div class="breacrumb-section">
    <div class="breadcrumb-text pt-0">
      <a routerLink="/"><i class="fas fa-home"></i> Home</a>
      <i class="fas fa-chevron-right fa-xs"></i>
      <a routerLink="/">Products</a>
      <i class="fas fa-chevron-right fa-xs"></i>
      <span>{{ product.name }}</span>
    </div>
  </div>

  <div class="row mt-3">
    <h3>{{ product.name }}</h3>
  </div>
  <div class="row">
    <div class="col-4 border">
      <div class="container">
        <img [src]="product?.images[0]?.secureUrl || 'https://placehold.it/500'" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-4 border">
      <div class="price">
        {{ product.price - (product.price * product.discountPercent / 100) | usd }}
        <span class="price-without-discount">{{ product.price | usd }}</span>
      </div>
      <div>
        <i class="rate fas fa-star"></i>
        <i class="rate fas fa-star"></i>
        <i class="rate fas fa-star"></i>
        <i class="rate fas fa-star-half-alt"></i>
        <i class="rate far fa-star"></i>
      </div>
      <!-- <div class="store-name"><i class="far fa-gem"></i>{{ product.storeName }}</div> -->
      <hr />

      <div class="item mt-2">
        <div class="item-header">ADDED</div>
        {{ addedQuantity }} item(s)
      </div>

      <div class="mt-2 item">
        <div class="item-header">QUANTITY</div>
        <div class="quantity">
          <div class="pro-qty">
            <span class="dec qtybtn" (click)="desQuantity()">-</span>

            <input
              type="number"
              [(ngModel)]="quantity"
              min="1"
              required
            />

            <span class="inc qtybtn" (click)="incQuantity()">+</span>
          </div>
        </div>
      </div>

      <div class="select-button d-flex mt-3">
        <a
          class="primary-btn view-card text-light mr-1"
          (click)="addToCart()"
        >ADD TO CART</a>

        <a
          class="primary-btn checkout-btn bg-dark text-light"
          (click)="addToCartAndCheckout()"
        >CHECK OUT</a>
      </div>

    </div>
    <div class="col-4 border">
      In-stock stores

      <div class="div-store-map border" style="height: 300px">
        map here
      </div>
    </div>
  </div>

  <div class="row">
    <h5>Product Description</h5>
  </div>
  <div class="row">
    Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Animi at suscipit
    tempore. Maxime, officia, pariatur? Aut commodi dolorem eligendi excepturi
    fuga hic id, iusto libero, quis repellat sunt totam unde!
  </div>
</div>

