<div class="container" *ngIf="product">
  <div class="breacrumb-section">
    <div class="breadcrumb-text pt-0">
      <a routerLink="/"><i class="fas fa-home"></i> Home</a>
      <i class="fas fa-chevron-right fa-xs"></i>
      <a routerLink="/">Products</a>
      <i class="fas fa-chevron-right fa-xs"></i>
      <span>{{ product.name }}</span>
    </div>
  </div>

<!--  <div class="row mt-3">-->
<!--    <h3>{{ product.name }}</h3>-->
<!--  </div>-->

  <div class="row mt-4">
    <!--    RIGHT SECTION -->
    <div class="col-lg-8 row">
      <div class="col-6">
        <div class="container text-center image-wrapper">
          <img [src]="product?.images[0]?.secureUrl || 'https://placehold.it/500'" alt="" class="img-fluid">
          <img *ngIf="product.outStock" src="assets/img/sold-out.png" alt="Sold out" class="sold-out">
        </div>
      </div>
      <div class="col-6">
        <div class="row col">
          <div class="h3">{{ product.name }}</div>
        </div>
        <div class="price">
          {{ product.price - (product.price * product.discountPercent / 100) | usd }}
          <span *ngIf="product.discountPercent" class="price-without-discount">{{ product.price | usd }}</span>
        </div>
        <div>
          <i class="rate fas fa-star"></i>
          <i class="rate fas fa-star"></i>
          <i class="rate fas fa-star"></i>
          <i class="rate fas fa-star-half-alt"></i>
          <i class="rate far fa-star"></i>
        </div>
        <!-- <div class="store-name"><i class="far fa-gem"></i>{{ product.storeName }}</div> -->
        <hr />

        <div class="item mt-2">
          <div class="item-header">ADDED</div>
          {{ addedQuantity }} item(s)
        </div>

        <div class="mt-2 item">
          <div class="item-header">QUANTITY</div>
          <div class="quantity">
            <div class="pro-qty">
              <span class="dec qtybtn" (click)="desQuantity()">-</span>

              <input
                type="number"
                [(ngModel)]="quantity"
                min="1"
                required
              />

              <span class="inc qtybtn" (click)="incQuantity()">+</span>
            </div>
          </div>
        </div>

        <div class="select-button d-flex mt-3">
          <a
            class="primary-btn view-card text-light mr-1"
            (click)="addToCart()"
          >ADD TO CART</a>

          <a
            class="primary-btn checkout-btn bg-dark text-light"
            (click)="addToCartAndCheckout()"
          >CHECK OUT</a>
        </div>

      </div>

      <div class="col-12 mt-4">
        <nz-card class="w-100">
          <nz-card-tab>
            <nz-tabset nzSize="large">
              <nz-tab nzTitle="Description"></nz-tab>
            </nz-tabset>
          </nz-card-tab>

          <div>
            <div class="content" [innerHTML]="product.description"></div>
            <div *ngIf="!product?.description" class="text-muted font-italic h6">No description</div>
          </div>
        </nz-card>
      </div>
    </div>

    <!--    RIGHT SECTION -->
    <div class="col-lg-4 right-sidebar">
      <div>
        <nz-card nzType="inner" nzTitle="Available Stores">
          <div
            *ngFor="let store of stores; index as i"
            class="mb-2 p-2 pt-0 cursor-pointer"
            [ngClass]="{ 'selected-store': isSelected(i) }"
            (click)="changeSelectedStore(i)"
          >
            <div class="icon-wrapper" *ngIf="isSelected(i)">
              <i nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="#f50"></i>
            </div>

            <div class="strong s-name">{{ store.name }}</div>
            <div class="small mb-1">{{ store.address }}</div>
            <div>
              <nz-tag nzColor="success">
                <i nz-icon nzType="sync"></i>
                <span>{{ store.quantity }} remained</span>
              </nz-tag>
            </div>
          </div>
          <div *ngIf="!stores?.length" class="text-danger font-weight-bold mb-0">This product is currently out of stock</div>
        </nz-card>
      </div>

      <div class="mt-4">
        <nz-affix [nzOffsetTop]="24">
          <app-custom-agm-map
            [longitude]="selectedLongitude"
            [latitude]="selectedLatitude"
            [markers]="storeMarkers"
          ></app-custom-agm-map>
        </nz-affix>
      </div>
    </div>
  </div>

</div>

