<app-table-overview></app-table-overview>

<div class="d-flex justify-content-start">
  <button routerLink="new" class="btn-create" nz-button nzType="primary" nzShape="round">
    <div class="fas fa-user-plus"></div>
    Add a new staff
  </button>
</div>
<nz-table
  #staffTable
  [nzData]="users"
  [nzShowSizeChanger]="true"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full name</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <!-- <th scope="col">Store name</th> -->
      <th scope="col" class="text-center">Permission(s)</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of staffTable.data; index as i">
      <td>{{ i + 1}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td class="light-bold text-muted">{{ printRoles(user) }}</td>
      <!-- <td>{{ user.storeName }}</td> -->
      <td class="text-center">
        <nz-tag nzColor="error" *ngIf="user.allowDelete">deletable</nz-tag>
        <nz-tag nzColor="blue" *ngIf="user.allowUpdate">editable</nz-tag>
      </td>
      <td class="text-center">
        <app-action-buttons-admin
          (onDetail)="showDetailsModal(user.id)"
          (onUpdate)="showUpdateModal(user.id)"
          (onDelete)="deleteUser(user.id)"
        ></app-action-buttons-admin>
      </td>
    </tr>
  </tbody>
</nz-table>
