<app-table-overview [figures]="figures"></app-table-overview>

<div class="d-flex justify-content-start">
  <button routerLink="create" nz-button nzType='primary' nzShape='round' class="btn-create">
    <i class="fas fa-plus"></i>
    Add a new role
  </button>
</div>
<nz-table
  #roleTable
  [nzData]="roles"
  [nzShowSizeChanger]="true"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Role Name</th>
      <th scope="col" class="text-center">Created By</th>
      <th scope="col" class="text-center">Granted</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr id="role-{{ role.id }}" *ngFor="let role of roleTable.data; index as i">
      <td>
        {{ i + 1 }}
      </td>
      <td>
        {{ role.name }}
      </td>
      <td class="text-center">
        <span *ngIf="role.createdBy !== currentUser.id; else byMe">
          {{ role.createdBy }}
        </span>
        <ng-template #byMe>
            <span class="badge badge-pill badge-danger label-byMe">Me</span>
        </ng-template>
      </td>
      <td class="text-center">
        <p class="my-auto">
          <nz-tag nzColor="error" *ngIf="role.allowDelete">deletable</nz-tag>
          <nz-tag nzColor="blue" *ngIf="role.allowUpdate">editable</nz-tag>
        </p>
      </td>
      <td class="text-center">
        <app-action-buttons-admin
          (onDetail)="viewRoleDetails(role)"
          (onUpdate)="openUpdateModal(role)"
          (onDelete)="deleteRole(role)"
        ></app-action-buttons-admin>
      </td>
    </tr>
  </tbody>
</nz-table>
