.pac-container {
  background-color: #FFF;
  z-index: 1050;
  position: fixed;
  display: inline-block;
  float: left;
}

/* Someone in Stackoverflow. It does help*/
::ng-deep .pac-container {
    z-index: 9999;
}
