<app-table-overview></app-table-overview>

<div class="d-flex justify-content-start">
  <button routerLink="new" class="btn-create" nz-button nzType="primary" nzShape="round">
    <div class="fas fa-plus"></div>
    Add a new product
  </button>
</div>
<nz-table
  #productTable
  class="shadow admin-table"
  [nzData]="products"
  [nzShowSizeChanger]="true"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th class="img-col text-center" scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col" class="text-center">Quantity</th>
      <th scope="col">Category</th>
      <th scope="col">Created at</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productTable.data; index as i">
      <td>{{ i + 1 }}</td>
      <td class="img-col text-center">
        <img class="img-fluid my-2" src="//placehold.it/100" alt="Product image">
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | usd }}</td>
      <td class="text-center">{{ product.quantity }}</td>
      <td>{{ getCategories(product) }}</td>
      <td>{{ product.createdAt | date: "short" }}</td>
      <td class="text-center">
        <app-action-buttons-admin
          (onDetail)="showDetailsModal(product.id)"
          (onUpdate)="showUpdateModal(product.id)"
          (onDelete)="deleteProduct(product.id)"
        ></app-action-buttons-admin>
      </td>
    </tr>
  </tbody>
</nz-table>
