<app-table-overview [figures]="figures"></app-table-overview>
<ngx-spinner></ngx-spinner>

<div class="d-flex justify-content-start">
  <button routerLink="new" nz-button nzType='primary' nzShape='round' class="btn-create">
    <i class="fas fa-plus"></i>
    Add a new store
  </button>
</div>
<nz-table
  #storeTable
  [nzData]="stores"
  [nzShowSizeChanger]="true"
>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Phone</th>
    <th scope="col">Status</th>
    <th scope="col">Created at</th>
    <th scope="col" class="text-center">Action</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let store of storeTable.data; index as i">
      <td scope="row">{{ i + 1}}</td>
      <td>{{ store.name }}</td>
      <td>{{ store.email }}</td>
      <td>{{ store.address }}</td>
      <td>{{ store.phone }}</td>
      <td>{{ store.status }}</td>
      <td>{{ store.createdAt | date:"short" }}</td>
      <td class="text-center">
        <app-action-buttons-admin
          (onDetail)="showDetailsModal(store.id)"
          (onUpdate)="showUpdateModal(store.id)"
          (onDelete)="deleteStore(store.id)"
        ></app-action-buttons-admin>
      </td>
    </tr>
  </tbody>
</nz-table>


