<a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
  <nz-tag nzColor="purple">
    <span>Change status</span>
    <i nz-icon nzType="down"></i>
  </nz-tag>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu" nzNoAnimation>
  <ul nz-menu class="p-2">
    <li
      nz-menu-item
      *ngFor="let status of statusList"
      (click)="changeStatus(orderId, status.value)"
    >
      <nz-tag [nzColor]="status.color">
        <i nz-icon [nzType]="status.icon || 'sync'"></i>
        <span>{{ status.text }}</span>
      </nz-tag>
    </li>
  </ul>
</nz-dropdown-menu>
