nz-tag {
  cursor: pointer;
  font-weight: 500;
  padding: 2px 8px;
  font-size: .8rem;

  i.anticon {
    transform: rotate(-90deg);
    transition: all .3s ease-in-out;
  }

  &:hover {
    opacity: .9;

    i.anticon {
      transform: rotate(0);
    }
  }
}

ul li, ul nz-tag {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 4px;
  width: 100% !important;
}

ul i.anticon {
  top: -1px;
  position: relative;
  font-size: 1rem;
  margin-left: 4px;
}
