.btn-cart {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  background: #fd7e14;
}

a {
  user-select: none;
  cursor: pointer;
}

.categories {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 8px;
}

.btn-details {
  display: none;
}

.product-item {
  cursor: pointer;
  transition: all .2s ease-in-out;
  position: relative;
  top: 0;

  &:hover {
    top: -2px;
    //box-shadow: 0 3px 0 rgb(84 94 111 / 20%);
    box-shadow: 0 3px 0 lighten(#e5a737, 10%);


    //.btn-details {
    //  display: block;
    //}
  }

  &:active {
    border: none;
    outline: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}

.sold-out {
	position: absolute;
	left: 0;
	top: 20px;
  padding: 5px 10px;
  opacity: 0.7;
}

.out-of-stock {
	position: absolute;
	left: 0;
	top: 20px;
  padding: 5px 10px;
  transform: rotateX(40deg);
  opacity: 0.7;
}

.pi-pic {
  height: 209px;
  text-align: center;
  border-bottom: 1px solid #dee2e6 !important;
}

.product-img {
  //max-height: 238px;
  //width: 235px;
  //height: 235px;
  object-fit: contain;
  height: 100% !important;
  width: auto;
}

