<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text pt-0">
          <a routerLink="/"><i class="fas fa-home"></i> Home</a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <span>Shop</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->

<section class="product-shop spad">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 products-sidebar-filter"
      >
        <app-shopping-category></app-shopping-category>
        <app-shopping-store></app-shopping-store>


        <div class="filter-widget">
          <h4 class="fw-title">Price</h4>
          <div class="filter-range-wrap">
            <div class="range-slider">
              <div class="price-input">
                <input type="text" [value]="priceRange[0] | usd">
                <input type="text" [value]="priceRange[1] | usd">
              </div>
            </div>
            <nz-slider
              nzMax="5000"
              nzRange
              [(ngModel)]="priceRange"
              (ngModelChange)="handleSlideChanged($event)"
            ></nz-slider>
          </div>
          <a href="#" class="filter-btn">Filter</a>
        </div>
      </div>

      <div class="col-lg-9 order-1 order-lg-2">
        <div class="product-show-option">
          <div class="row">
            <div class="col-lg-7 col-md-7">
              <div class="product-show-option">
                <div class="row">
                  <div class="col-lg-12 col-md-6">
                    <div class="select-option">

                      <nz-select
                        nzSize="large"
                        nzAllowClear
                        nzPlaceHolder="Sorting: Default"
                      >
                        <nz-option-group nzLabel="By Name">
                          <nz-option nzCustomContent nzLabel="Sorting: None" nzValue="name-asc"><i nz-icon nzType="windows"></i> Ascending</nz-option>
                          <nz-option nzCustomContent nzLabel="Name: Ascending" nzValue="name-asc"><i nz-icon nzType="windows"></i> Ascending</nz-option>
                          <nz-option nzCustomContent nzLabel="Name: Descending" nzValue="name-desc"><i nz-icon nzType="apple"></i> Descending</nz-option>
                        </nz-option-group>
                        <nz-option-group nzLabel="By Price">
                          <nz-option nzCustomContent nzLabel="Price: High to low" nzValue="price-asc"><i nz-icon nzType="android"></i> High to low</nz-option>
                          <nz-option nzCustomContent nzLabel="Price: Low to high" nzValue="price-desc"><i nz-icon nzType="android"></i> Low to high</nz-option>
                        </nz-option-group>
                      </nz-select>

                      <div class="mx-2"></div>

                      <nz-select nzSize="large" nzAllowClear nzPlaceHolder="Show: 09">
                        <nz-option nzCustomContent nzLabel="Windows" nzValue="windows"><i nz-icon nzType="windows"></i> Windows</nz-option>
                        <nz-option nzCustomContent nzLabel="Mac" nzValue="mac"><i nz-icon nzType="apple"></i> Mac</nz-option>
                        <nz-option nzCustomContent nzLabel="Android" nzValue="android"><i nz-icon nzType="android"></i> Android </nz-option>
                      </nz-select>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 text-right">
              <p>Show {{ pageableProducts?.size }} of {{ pageableProducts?.totalElements }} Products</p>
            </div>
          </div>
        </div>
        <div class="product-list">
          <div class="row">
            <app-loading *ngIf="isLoading"></app-loading>
            <div class="col-lg-4 col-sm-6" *ngFor="let product of products">
              <app-product-card [product]="product"></app-product-card>
            </div>
          </div>
          <div class="row d-flex justify-content-center" *ngIf="isEmptyResult()">
            <img src="assets/img/no-result-found.png" />
          </div>
        </div>
        <!-- <div class="loading-more" *ngIf="!isEmptyResult()">
          <button class="btn btn-sm">
            <div class="spinner-border text-warning" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
          <a href="#">
            Loading More
          </a>
        </div> -->
        <app-pagination [pagination]="pageableProducts" *ngIf="pageableProducts"></app-pagination>
      </div>
    </div>
  </div>
</section>

