<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [ngStyle]="{
    width: width || '100%',
    height: height || '300px'
  }"
>
  <agm-marker
    *ngIf="myPos"
    [latitude]="myPos.latitude"
    [longitude]="myPos.longitude"
    iconUrl="assets/img/star24.png"
    [opacity]="0.95"
    [title]="myPos.label"
    [label]="{
      fontSize: '10px',
      fontWeight: '600'
    }"
    animation="BOUNCE"
  ></agm-marker>
  <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.latitude"
    [longitude]="marker.longitude"
    [opacity]="0.95"
    [title]="marker?.label"
    animation="DROP"
  ></agm-marker>
</agm-map>
<!--    [label]="{-->
<!--      text: marker.label,-->
<!--      color: '#000'-->
<!--    }"-->
